#:schema https://raw.githubusercontent.com/YunoHost/apps/main/schemas/manifest.v2.schema.json

packaging_format = 2

id = "karakeep"
name = "Karakeep"
description.en = "Bookmark-everything app (links, notes and images)"
description.fr = "Gestionnaire de favoris (liens, notes et images)"

version = "0.30.0~ynh1"

maintainers = ["eric_G"]

[upstream]
license = "AGPL-3.0"
website = "https://karakeep.app/"
demo = "https://try.karakeep.app/signin"
admindoc = "https://docs.karakeep.app/Installation/debuntu"
code = "https://github.com/karakeep-app/karakeep"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = false
sso = false

disk = "6G"
ram.build = "4G"
ram.runtime = "800M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

    [resources.sources.main]
    url = "https://github.com/karakeep-app/karakeep/archive/refs/tags/v0.30.0.tar.gz"
    sha256 = "967753b76f36d8848e6accc8430bd3788a2120446c50704b769a4945cb73921e"

    autoupdate.strategy = "latest_github_release"

    [resources.sources.dlp]
    url = "https://github.com/karakeep-app/karakeep/archive/refs/tags/v0.30.0.tar.gz"
    sha256 = "967753b76f36d8848e6accc8430bd3788a2120446c50704b769a4945cb73921e"
    insubdir = false
    extract = false
    rename = "yt-dlp"

    autoupdate.strategy = "latest_github_release"

    [resources.sources.monolith]
    url = "https://github.com/karakeep-app/karakeep/archive/refs/tags/v0.30.0.tar.gz"
    sha256 = "967753b76f36d8848e6accc8430bd3788a2120446c50704b769a4945cb73921e"
    insubdir = false
    extract = false
    rename = "monolith"

    autoupdate.strategy = "latest_github_release"
    
    [resources.system_user]
    allow_email = true

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    api.url = "/admin"
    api.allowed = "admins"
    api.show_tile = false
    api.protected = true

    [resources.ports]
    web.default = 3000
    browser.default = 9222

    [resources.apt]
    packages = "graphicsmagick, ghostscript, build-essential, chromium, sqlite3"

    [resources.nodejs]
    version = "22"
